version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: strapi_postgres_dev
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi
    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data

  hatchet:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-lite:latest
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      DATABASE_URL: "postgresql://hatchet:hatchet@hatchet_postgres:5432/hatchet"
    volumes:
      - ./hatchet-data:/data
    depends_on:
      hatchet_postgres:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  hatchet_postgres:
    image: postgres:17
    hostname: "hatchet_postgres"
    environment:
      POSTGRES_USER: hatchet
      POSTGRES_PASSWORD: hatchet
      POSTGRES_DB: hatchet
    ports:
      - "5435:5432"
    volumes:
      - ./hatchet-data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d hatchet -U hatchet"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s